apiVersion: deploy.cloud.google.com/v1
kind: Target
metadata:
  name: DEV-pipeline
  annotations:
    target: apis
description: testing dev pipeline
executionConfigs:
- executionTimeout: 10800s
gke:
  cluster: projects/us-gcp-ame-adv-9504d-npd-1/locations/us-east4/clusters/test-cluster-1
  dnsEndpoint: true

