apiVersion: deploy.cloud.google.com/v1
kind: Target
metadata:
  name: dev-pipeline
  annotations: {}
description: testing dev pipeline
executionConfigs:
  executionTimeout: 10800s
gke:
  cluster: projects/us-gcp-ame-adv-9504d-npd-1/locations/us-east4/clusters/test-cluster-1
  dnsEndpoint: true

---

apiVersion: deploy.cloud.google.com/v1
kind: Target
metadata:
  name: stage-pipeline
  annotations: {}
description: testing stage pipeline
requireApproval: true
executionConfigs:
  executionTimeout: 10800s
gke:
  cluster: projects/us-gcp-ame-adv-9504d-npd-1/locations/us-east4/clusters/test-cluster-1
  dnsEndpoint: true
