apiVersion: deploy.cloud.google.com/v1
kind: Target
metadata:
  name: prod
  annotations:
    target: apis
description: testing prod pipeline
# requireApproval: true
executionConfigs:
- usages:
  - RENDER
  - DEPLOY
  - VERIFY
  - PREDEPLOY
  - POSTDEPLOY
  executionTimeout: 10800s
gke:
  cluster: projects/us-gcp-ame-adv-56cad-prd-1/locations/us-east4/clusters/test-prod
  dnsEndpoint: true