apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: backend
  name: dev-pipeline
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  strategy: {}
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: ubuntu
        image: ubuntu
