apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: dev-pipeline
  name: dev-pipeline
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dev-pipeline
  strategy: {}
  template:
    metadata:
      labels:
        app: dev-pipeline
    spec:
      containers:
      - name: ubuntu
        image: gcr.io/$LOCATION-docker.pkg.dev/us-gcp-ame-adv-9504d-npd-1/$_ARTIFACT_REPO/$_BACKEND:$TAG_NAME
